.questions-display {
  background: linear-gradient(
    207deg,
    rgba(42, 19, 80, 1) 2%, 
    rgba(98, 84, 129, 1) 15%, 
    rgba(86, 83, 146, 1) 20%, 
    rgba(9, 9, 121, 1) 31%, 
    rgba(100, 87, 144, 1) 50%, 
    rgba(9, 9, 121, 1) 69%, 
    rgba(103, 99, 152, 1) 86%, 
    rgba(106, 92, 136, 1) 85%, 
    rgba(42, 19, 80, 1) 98%
    );
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-right: 2px solid white;
}

.questions-container {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.questions-header {
  background: linear-gradient(
    158deg,
    rgba(126, 18, 18, 1) 15%,
    rgba(205, 33, 33, 1) 35%,
    rgba(134, 21, 21, 1) 50%,
    rgba(205, 33, 33, 1) 65%,
    rgba(126, 18, 18, 1) 85%
  );
  border: 3px solid white;
  border-left: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 900;
  height: 150px;
  justify-content: center;
  margin-bottom: 25px;
  padding: 5px;
  width: 420px;
}

.question-button {
  background: linear-gradient(
    158deg,
    rgba(126, 18, 18, 1) 15%,
    rgba(205, 33, 33, 1) 35%,
    rgba(134, 21, 21, 1) 50%,
    rgba(205, 33, 33, 1) 65%,
    rgba(126, 18, 18, 1) 85%
  );
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  font-size: large;
  height: 60px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.shuffled-buttons {
  padding: 10px;
}
