.questions-display {
  border-right: 2px solid white;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  background: rgb(42, 19, 80);
  background: linear-gradient(
    207deg,
    rgba(42, 19, 80, 1) 2%,
    rgba(98, 84, 129, 1) 15%,
    rgba(86, 83, 146, 1) 20%,
    rgba(9, 9, 121, 1) 31%,
    rgba(100, 87, 144, 1) 50%,
    rgba(9, 9, 121, 1) 69%,
    rgba(103, 99, 152, 1) 86%,
    rgba(106, 92, 136, 1) 85%,
    rgba(42, 19, 80, 1) 98%
  );
}

.questions-container {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.questions-header {
  font-weight: 900;
  font-size: large;
  color: white;
  margin-bottom: 25px;
  background: 'rgb(255,0,0)';
  background: linear-gradient(
    158deg,
    rgba(126, 18, 18, 1) 15%,
    rgba(205, 33, 33, 1) 35%,
    rgba(134, 21, 21, 1) 50%,
    rgba(205, 33, 33, 1) 65%,
    rgba(126, 18, 18, 1) 85%
  );
  width: 420px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 3px solid white;
  border-left: none;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.question-button {
  font-weight: 900;
  font-size: large;
  color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  border: none;
  height: 60px;
  padding-left: 10px;
  background: 'rgb(255,0,0)';
  background: linear-gradient(
    158deg,
    rgba(126, 18, 18, 1) 15%,
    rgba(205, 33, 33, 1) 35%,
    rgba(134, 21, 21, 1) 50%,
    rgba(205, 33, 33, 1) 65%,
    rgba(126, 18, 18, 1) 85%
  );
  border: 3px solid white;
}

.shuffled-buttons {
  padding: 10px;
}
