.questions-container {
  display: flex;

}

.questions-header {

}

.answers-buttons {
  display: flex;
  flex-direction: column;
}

.correct-answer {
  background: 3px solid rgd(6, 240, 15)
}

.wrong-answer {
  background: 3px solid rgd(255, 0, 0)
}
