.answers-buttons {
  display: flex;
  flex-direction: column;
}

.button-display {
  display: flex;
}

.button-display-text {
  background: #fff;
  border-radius: 50%;
  color: blue;
  font-size: 32px;
  margin: 10px 10px 10px 0;
  text-align: center;
  width: 36px;
}

.button-style {
  background: none;
  border: 3px solid white;
  border-radius: 10px;
  bottom: 3px;
  color: white;
  font-size: 14px;
  font-weight: 900;
  height: 66px;
  margin: auto;
  position: relative;
  right: 59px;
  text-align: center;
  width: 378px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  color: green;
}

.wrong-answer {
  border: 3px solid rgb(255, 0, 0);
  color: red;
}
