.login-page {
  text-align: center;
}

.login-page-header {
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: column;

}

.login-input {
  width: 200px;
  border-radius: 10px;
  border: none;
  height: 25px;
  padding-left: 10px;
  background: 'rgb(255,0,0)';
  background: linear-gradient(
    158deg,
    rgba(126, 18, 18, 1) 15%,
    rgba(205, 33, 33, 1) 35%,
    rgba(134, 21, 21, 1) 50%,
    rgba(205, 33, 33, 1) 65%,
    rgba(126, 18, 18, 1) 85%
  );
  border: 2px solid white;
}

.login-input:scope {
  background: blue;
}

.login-label {
  margin-right: 10px;
}

.play-button {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  color: red;
  background-color: rgb(255, 255, 0);
  font-weight: 600;
}
